In [27]:
##This code will read a sql database stored locally and will update the table name
## Once updated the code will run SQL query to show the contents of the table

import pandas as pd
import sqlite3

# Connect to the database
conn = sqlite3.connect('your_database.db')

# List all tables in the database
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables_df = pd.read_sql_query(query, conn)
print("Tables in the database:", tables_df['name'])

# Loop through each table and display its contents
for table_name in tables_df['name']:
    print(f"\nContents of table: {table_name}")
    table_df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
    print(table_df)

# Close the connection
conn.close()

Tables in the database: 0    your_table_name
Name: name, dtype: object

Contents of table: your_table_name
       Brand  Total Sales
0       Acer            3
1      Apple            3
2       Asus            3
3       Dell            3
4     Google            3
5         HP            3
6     Lenovo            3
7  Microsoft            3
8    Samsung            3
9       Sony            3

In [37]:
import pandas as pd
import sqlite3

# Connect to the database
conn = sqlite3.connect('your_database.db')

# List all tables in the database
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables_df = pd.read_sql_query(query, conn)
print("Tables in the database before renaming:", tables_df['name'])

# Rename the table
old_table_name = 'Sales_data'
new_table_name = 'New_Sales_data'
rename_query = f"ALTER TABLE {old_table_name} RENAME TO {new_table_name};"
conn.execute(rename_query)
conn.commit()

# Verify the table name has been changed
tables_df = pd.read_sql_query(query, conn)
print("Tables in the database after renaming:", tables_df['name'])

# Select all data from Sales_data 
query = "SELECT * FROM New_Sales_data" 
sales_data_df = pd.read_sql_query(query, conn) 
print("Contents of New_Sales_data:") 
print(sales_data_df)

# Close the connection
conn.close()

Tables in the database before renaming: 0    Sales_data
Name: name, dtype: object
Tables in the database after renaming: 0    New_Sales_data
Name: name, dtype: object
Contents of Sales_data:
       Brand  Total Sales
0       Acer            3
1      Apple            3
2       Asus            3
3       Dell            3
4     Google            3
5         HP            3
6     Lenovo            3
7  Microsoft            3
8    Samsung            3
9       Sony            3